body {
    font-family:Helvetica,sans-serif;
}

fieldset {
    border-color: black;
    border-style: solid;
    width: 300px;
}

#comments {height: 30px;
    width: 100 px;}

footer {font-size: 8px;
text-align: center}